body{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    margin-top: 360px;
}
.but{
    border: 1px solid #00a832f6;
    background: none;
    padding: 10px 20px ;
    font-size: 20px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}
.but1, .but2{
    color: #00a832f6;
}
.but3, .but4{
    color: #fff;
}
.but1:hover, .but2:hover{
    color: #fff;
    border:none;
}
.but3:hover, .but4:hover{
    color: #00a832f6;
    border:none;
}
.but::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #00a832f6;
    z-index: -1;
    transition: 0.5s;
}
.but1::before, .but3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.but2::before, .but4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.but3::before, .but4::before{
    height: 190%;
}
.but1:hover::before, .but2:hover::before{
    height: 190%;
}
.but3:hover::before, .but4:hover::before{
    height: 0%;
}
